*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh; /*100% del viewport*/
}

/*HEADER*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a{
    margin-right: 20px;
    color: black;
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover{
    text-decoration: underline;
}

.header_der{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.header .header_apps{
    margin-right: 10px;
}

.main{
    display: flex;
    flex: 1;
    margin-top: 12%;
    flex-direction: column;
}

.main img{
    object-fit: contain;
    height: 100px;
}

.busca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.busca_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.busca_input input{
    display: flex;
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.busca_input .material-icons{
    color: gray;
}

.busca_btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.busca_btn button{
    margin: 5px;
    padding: 10px 15px;
    background-color: white;
    border-color: rgba(165, 156, 156, .5);
    cursor: pointer;
}